@model Instancely.Models.RDS

<div class="row">
    <div id="sidebar" class="col-sm-2">
        <ul class="nav nav-sidebar flex-column">
            <li class="nav-item active">Teams</li>
            @foreach (var team in Model.Teams)
            {
                <li class="nav-item"><a class="@((ViewData["Team"] ?? "").ToString().ToLower() == team.ToLower() ? "nav-link active show-loader" : "nav-link show-loader")" href="/rds?team=@Uri.EscapeDataString(team.ToLower())">@team</a></li>
            }
        </ul>
    </div>

    <div id="content" class="col-sm-10">
        @foreach (var environment in Model.Environments)
        {
            <p class="content-header">@environment.Name</p>

            @foreach (var application in environment.Applications.OrderBy(a => a.Name))
            {
                <p class="content-subheader">@application.Name</p>

                <table class="table table-hover">
                    <thead>
                        <tr class="row">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <th class="col-sm-1">Manage</th>
                            }
                            <th class="col-sm-3">ID</th>
                            <th class="col-md-1">Engine</th>
                            <th class="col-md-1">Class</th>
                            <th class="col-md-1">VPC</th>
                            <th class="col-md-1">Multi AZ</th>
                            <th class="@(User.Identity.IsAuthenticated == true ? "col-md-1" : "col-md-2")">Public</th>
                            <th class="col-md-1">State</th>
                            <th class="col-sm-2">Launch Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var instance in application.RDSInstances.OrderBy(i => i.DBInstance.DBInstanceIdentifier))
                        {
                            <tr class="row">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <td class="col-sm-1 dropdown">
                                        <a class="dropdown-toggle material-icons" href="#" data-toggle="dropdown">settings</a>

                                        <div class="dropdown-menu ddarrow" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                                            <button id="@instance.DBInstance.DBInstanceIdentifier-restart" class="dropdown-item" type="button">Restart</button>

                                            <script type="text/javascript">
                                                $("#@instance.DBInstance.DBInstanceIdentifier-restart").click(function () {
                                                    $.post("/rds/instance?action=restart&id=@instance.DBInstance.DBInstanceIdentifier", function (result) {
                                                        if (result === "OK") {
                                                            $('.modal-body').html('<p class="text-center"><span class="material-icons">done</span></p><p class="text-center">@instance.DBInstance.DBInstanceIdentifier has restarted successfully.</p>');
                                                        }
                                                        else {
                                                            $('.modal-body').html('<p class="text-center"><span class="material-icons">error</span></p><p class="text-center">' + result + '</p>');
                                                        }

                                                        $('#myModal').modal('show');
                                                    });
                                                });
                                            </script>
                                        </div>
                                    </td>
                                }
                                <td class="col-sm-3">@instance.DBInstance.DBInstanceIdentifier</td>
                                <td class="col-sm-1">@instance.DBInstance.Engine</td>
                                <td class="col-sm-1">@instance.DBInstance.DBInstanceClass</td>
                                <td class="col-sm-1">@instance.DBInstance.DBSubnetGroup.VpcId</td>
                                <td class="col-sm-1">@instance.DBInstance.MultiAZ</td>
                                <td class="col-sm-1">@instance.DBInstance.PubliclyAccessible</td>
                                <td class="col-sm-1">@instance.DBInstance.DBInstanceStatus</td>
                                <td class="col-sm-2">@instance.DBInstance.InstanceCreateTime</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
    </div>
</div>

<div id="myModal" class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
